body{
      
  color:white;
  font-family: "montserrat", Helvetica Neue, Helvetica, Arial;
  margin: 0px;
  padding: 0;
}
/*  Navbar Custom Settings  */
.home {
  background: rgb(19,19,20);
}


.MainContainer{
  width: 100%;
  height: inherit;
  margin: 0px auto;
  padding-bottom: 20px ;   
}
.Background-section{
  width: 100%; 
  background-image:  url("../images/trying/1.png"); 
}

.HeaderTitle{
  width: 60%;
  border-bottom: 4px solid rgb(94, 218, 23);
  border-radius: 10px;
  margin: 0 auto;
  }
.section-map{
  border: 2px solid rgb(94, 218, 23); 
}
#map{
height: 100vh;
width: 100%;
}    

.section-map{
  width: 60%;
  margin: auto;
  background: rgb(17, 17, 17);
  overflow: auto;
  border-right: 4px solid rgb(113,191,68);
  border-left: 4px solid rgb(113,191,68);
}

.HeaderTitle p{
  color: white;
  padding-top: 100px;
  font-size: 25px;
  font-weight:bold;
  font-stretch: expanded;
  text-transform: uppercase;    
  align-items: center;
  margin: 0 auto;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
.TextSecondHand{
  width: 60%;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: 0 auto;
}
.TextSecondHand p{
  box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.57);
  text-align: justify;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 22px;
  margin-bottom: 5%;

  
}

@media screen and (max-width:560px){
  .section-map{
    width: 95%;
  }
  .TextSecondHand{
    width: 90%;
  }
  .HeaderTitle p{
    font-size: 20px;
  }
  .TextSecondHand p{
    font-size: 17px;
  }
}


text, strong{
  color: black;
}