body{
    background: rgb(3, 104, 117);
    color:white;
    font-family: "montserrat", Helvetica Neue, Helvetica, Arial;
    margin: 0;
    padding: 0;
}
/*  Navbar Custom Settings  */

.iframe-wrapper{
    width: 100%;
    height: 90vh;
    padding-top: 100px;
    overflow: hidden;
    
}
iframe{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
