body{
    background: rgb(4, 84, 116);
    color:white;
    font-family: "montserrat", Helvetica Neue, Helvetica, Arial;
    margin: 0px;
    padding: 0;
}
/*  Navbar Custom Settings  */
header{
        background-color: rgb(37, 37, 37);
        padding-top: 100px;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 25px;
        margin: 0;
        font-size: 40px;
        font-weight:bold;
        font-stretch: expanded;
        text-transform: uppercase;    
        width: 90%;
        align-items: center;
        margin: 0 auto;
}
ul{
    margin: 0;
}   
#map{
    height: 90vh;
    width: 100%;
  }    

.section-map{
        max-width: 1500px;
        margin: auto;
        background: rgb(17, 17, 17);
        overflow: auto;
        background-color: red;
  }
    