body{
    margin: 0;
    padding: 0;

}
.home{
    background: rgb(19,19,20);

}

.MainContainer{
    width: 60%;
    height: inherit;
    margin: 0px auto;

}
.ContImageBackground{
    padding-bottom: 20px;
}
.imagesContainer{
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    width: 100%;
    height: inherit;
    background: #202020;
    margin: 0px auto;
    justify-content: center;
}
.ContainerMixed{
    -webkit-box-shadow: 0px 3px 22px 3px rgba(0, 0, 0, 0.71); 
    box-shadow: 0px 3px 22px 3px rgba(0, 0, 0, 0.71);
}
.imagesContainer .box{
    flex-direction: row;
    position: relative;
    display: flex;
    width: 300px;
    height: 300px;
    margin: 15px;
    overflow: hidden;
}

.imagesContainer .box .img{
    width: 95%;
    height: 95%;
    background-position: center;    
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
    z-index: 1;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}
.imagesContainer .box .img1{
    background-image: url("../images/jivotni/1.jpg");
}

.imagesContainer .box .img2{
    background-image: url("../images/jivotni/2.jpg");
}

.imagesContainer .box .img3{
    background-image: url("../images/jivotni/3.jpg");
}

.imagesContainer .box .img4{
    background-image: url("../images/jivotni/4.jpg");
}

.imagesContainer .box .img5{
    background-image: url("../images/jivotni/5.jpg");
}

.imagesContainer .box .img6{
    background-image: url("../images/jivotni/6.jpg");
}


.imagesContainer .box:hover .img {
    top:21%;
    right: calc(50% - 40%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 40px;
    
}
/* Section - textove nad galeria */
.HeaderTitle{
width: 100%;
border-bottom: 4px solid rgb(94, 218, 23);
border-radius: 10px;


}
.HeaderTitle p{
    color: white;
    padding-top: 100px;
    font-size: 35px;
    font-weight:bold;
    font-stretch: expanded;
    text-transform: uppercase;    
    align-items: center;
    margin: 0 auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.TextJivotni{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.TextJivotni p{
    box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.57);
    text-align: justify;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-bottom: 5%;
    
}
.HeaderVidove{
    background-color: rgb(71, 182, 7);
    font-size: 50px;
}
.HeaderVidove p{
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.72);
    border-bottom: #f71414;
}

/*text za kartinkite*/

.imagesContainer .box .info{
    position: absolute;
    top: 200px;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    width: 100%;
    opacity: 0;
    text-shadow: 2px 0px 0px rgba(149, 150, 150, 0.41);

}

.imagesContainer .box:hover .info{
    top:100px;
    text-align: center;
    opacity: 1;
}

.imagesContainer .box .info h3{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 24px;
}

.imagesContainer .box .info h3,p{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}


.imagesContainer .box .info {
    background: rgb(94, 218, 23);
}

.imagesContainer .box  {
    background: 
    rgb(94, 218, 23);
    
}
.ContainerMixed{
    width: 60%;

}
@media screen and (max-width:1100px){
    .ContainerMixed{
        width: 90%;
    }
    .MainContainer{
        width: 90%;
    }
    
}
@media screen and (max-width:500px){
    .TextJivotni p{
        font-size: 18px;
    }
}
.ContImageBackground{
    width: 100%;
    justify-content: center;
    display: flex;
    background-image:  url("../images/trying/1.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
