body{
    background: rgb(4, 84, 116);
    color:white;
    font-family: "montserrat", Helvetica Neue, Helvetica, Arial;
    margin: 0px;
    padding: 0;
}
/*  Navbar Custom Settings  */
Div#home.home{
    height: 140vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(to right top, #0f410a, #1b5e24, #257e3f, #2b9f5e, #2cc17f, #2cc17f, #2cc17f, #2cc17f, #2b9f5e, #257e3f, #1b5e24, #0f410a);
    background: -moz-linear-gradient(to right top, #0f410a, #1b5e24, #257e3f, #2b9f5e, #2cc17f, #2cc17f, #2cc17f, #2cc17f, #2b9f5e, #257e3f, #1b5e24, #0f410a);
    background: -ms-linear-gradient(to right top, #0f410a, #1b5e24, #257e3f, #2b9f5e, #2cc17f, #2cc17f, #2cc17f, #2cc17f, #2b9f5e, #257e3f, #1b5e24, #0f410a);
    background: linear-gradient(to right top, #0f410a, #1b5e24, #257e3f, #2b9f5e, #2cc17f, #2cc17f, #2cc17f, #2cc17f, #2b9f5e, #257e3f, #1b5e24, #0f410a);
}

.Ccc{
    position: relative;
    width: 1200px;
    height: inherit;
    margin: 0px auto;
    
}

.cont{
    position: relative;
    width: 1200px;
    height: 800px;
    background-color: #062344;
    margin: 0px autp;

}

.cont .box{
    position: relative;
    width: calc(400px - 30px);
    height: calc(400px - 30px);
    background: #000;;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
}

.cont .box .img {
    position: absolute;
    top:0;
    left: 0;
    width: 90%;
    height: 90%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
    z-index: 1;
}
.cont .box .img1{
    background-image: url("../images/rastenia/1.png");
}

.cont .box .img2{
    background-image: url("../images/rastenia/2.png");
}

.cont .box .img3{
    background-image: url("../images/rastenia/3.jpg");
}

.cont .box .img4{
    background-image: url("../images/rastenia/4.png");
}

.cont .box .img5{
    background-image: url("../images/rastenia/5.png");
}

.cont .box .img6{
    background-image: url("../images/rastenia/6.png");
}





.cont .box:hover .img {
    top:110px;
    right: calc(50% - 40%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 40px;
}

.cont .box .img .rastenia{
    background-color: rgb(37, 37, 37);
        
        float: left;
        width: 200px;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 200px;
        cursor: pointer;
        margin: 0 20px;
        margin-top: 100px;
        flex-wrap: wrap-reverse;
    }
.cont .box .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color:#fff;
}
.cont .box:hover .img .rastenia{
    font-size: 40px;

}
/*textove nad galeria*/

.HeaderVidove{
    background-color: #041a33;
    font-size: 50px;
}
.HeaderVidove p{
    color: white;
    font-size: 30px;
}
.HeaderTitle p{
    color: white;
    background-color: #041a33;
    padding-top: 100px;
    border-bottom: 4px solid rgb(113,191,68);
    border-radius: 20px;
    width: 1600px;
    margin: 0;
    font-size: 35px;
    font-weight:bold;
    font-stretch: expanded;
    text-transform: uppercase;    
    max-width: 2000px;
    align-items: center;
    margin: 0 auto;
}

.TextRastenia{
    background-color: rgba(201, 243, 204, 0.452);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.TextRastenia p{
    box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.57);
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 25px;
    width: 1200px;
}



/*text za kartinkite*/

.cont .box .info{
    position: absolute;
    top: 120px;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    width: 100%;
    opacity: 0;
}

.cont .box:hover .info{
    top:190px;
    text-align: center;
    opacity: 1
    ;
}

.cont .box .info h3{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 24px;
}

.cont .box .info h3,p{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}


.cont .box .info {
    background: rgb(201, 243, 204);
}

.cont .box  {
    background: rgb(201, 243, 204);
    
}

