body{
    background: rgb(4, 84, 116);
    color:white;
    font-family: "montserrat", Helvetica Neue, Helvetica, Arial;
    margin: 0px;
    padding: 0;
}
/*  Navbar Custom Settings  */
header{
    background-image: url("/images/blue.jpg");
    margin: 0;
}
ul{
    margin: 0;
}
.cont {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
    
}

.cont .box{
    position: relative;
    width: calc(400px - 30px);
    height: calc(400px - 30px);
    background: #000;;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid white;
}

.cont .box .img {
    position: absolute;
    top:0;
    left: 0;
    width: 90%;
    height: 90%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
    z-index: 1;
}
.cont .box .img1{
    background-image: url("../images/jivotni/1.jpg");
}

.cont .box .img2{
    background-image: url("../images/jivotni/2.jpg");
}

.cont .box .img3{
    background-image: url("../images/jivotni/3.jpg");
}

.cont .box .img4{
    background-image: url("../images/jivotni/4.jpg");
}

.cont .box .img5{
    background-image: url("../images/jivotni/5.jpg");
}

.cont .box .img6{
    background-image: url("../images/jivotni/6.jpg");
}



.cont .box:hover .img {
    top:110px;
    right: calc(50% - 40%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    font-size: 40px;
}

.cont .box .img .jivotni{
    background-color: rgb(37, 37, 37);
        
        float: left;
        width: 200px;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 200px;
        cursor: pointer;
        margin: 0 20px;
        margin-top: 100px;
        flex-wrap: wrap-reverse;
    }
.cont .box .img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.5s;
    color:#fff;
}
.cont .box:hover .img .rastenia{
    font-size: 40px;

}

/*text za kartinkite*/

.cont .box .info{
    position: absolute;
    top: 120px;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    width: 100%;
    opacity: 0;
}

.cont .box:hover .info{
    top:190px;
    text-align: center;
    opacity: 1;
}

.cont .box .info h3{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 24px;
}

.cont .box .info h3,p{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
}


.cont .box .info {
    background: #07ffa0;
}

.cont .box  {
    background: #07ffa0;
    
}

