body{
    background: rgb(4, 84, 116);
    color:white;
    font-family: "montserrat", Helvetica Neue, Helvetica, Arial;
    margin: 0px;
    padding: 0;
}
/*  Navbar Custom Settings  */
header{
    background-image: url("/images/blue.jpg");
    margin: 0;
}
ul{
    margin: 0;
}