body{
    background: lightcyan;
    color:white;
    font-family: "montserrat", Helvetica Neue, Helvetica, Arial;
    margin: 0;
    padding: 0;
    
}


/*  Navbar Custom Settings  */
.home{
    background-image: url("../images/Kotka.jpg");
    background-attachment: fixed;
}

/* About Me section */
section{
    background-color: rgb(0, 168, 247);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-position: center;
    padding-top: 10px;
    text-align: left;
}

   section title{
    color: darkcyan;
    display: inline-block;
    text-transform: uppercase;
    font-size: 70;
    text-shadow: 2px 2px rgb(0, 70, 70);
    position: relative;
    top: 200px;
    padding: 9px;
    border-style: inset;
    border-color: rgb(17, 17, 17);
    background-color: rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

section .textaboutme{
    color: rgb(17, 98, 136);
    text-shadow: 1px 1px rgb(4, 51, 73);
    font-size: 30px;
    position: absolute;
    top: 122%;
    background-color: darkcyan;
    border-style: inset;
    padding-right: 60% ;
    padding-bottom: 30%;
    z-index: 0;
}


.MainBox{
    position: absolute;
    width: 80%;
    height: 60%;
    right: 10%;
    top: 30%;
    text-align: left;
    background-color: #01091152;
    border-bottom: 4px solid rgb(113,191,68);
    border-top: 4px solid rgb(113,191,68);
}
.Title{
    font-size: 70px;
    background-color: #020e1dc4;
}
.Description{
    font-size: 40px;
    background-color: #041a3352;
    margin-bottom: 20px;
}

.Description2{
    font-size: 20px;
}