body{
    background: #009E99;
    color:white;
    font-family: "montserrat", Helvetica Neue, Helvetica, Arial;
    margin: 0px;
    padding: 0;
}
Div#home.home{
  height: 90vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background: -webkit-linear-gradient(to right top, #0f410a, #1b5e24, #257e3f, #2b9f5e, #2cc17f, #2cc17f, #2cc17f, #2cc17f, #2b9f5e, #257e3f, #1b5e24, #0f410a);
  background: -moz-linear-gradient(to right top, #0f410a, #1b5e24, #257e3f, #2b9f5e, #2cc17f, #2cc17f, #2cc17f, #2cc17f, #2b9f5e, #257e3f, #1b5e24, #0f410a);
  background: -ms-linear-gradient(to right top, #0f410a, #1b5e24, #257e3f, #2b9f5e, #2cc17f, #2cc17f, #2cc17f, #2cc17f, #2b9f5e, #257e3f, #1b5e24, #0f410a);
  background: linear-gradient(to right top, #0f410a, #1b5e24, #257e3f, #2b9f5e, #2cc17f, #2cc17f, #2cc17f, #2cc17f, #2b9f5e, #257e3f, #1b5e24, #0f410a);
}
.Reciklirane-title{
        position:absolute;
        top:10%;
        right: 800px;
        
}

.card1 {
  height: 550px;
    box-shadow: 0 4px 4px 0 #3CC290;
    transition: 0.3s;
    width: 35%;
    position: absolute;
   top:25%;
   left:10% ;
   background: #3CC290;
   border-radius: 3%;
   
  }

  .card2 {
    height: 550px;
    box-shadow: 0 4px 4px 0 #3CC290;
    transition: 0.3s;
    width: 35%;
    background: #3CC290;
    border-radius: 3%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    position: absolute;
    
  }
  
  .con {
    padding: 2px 16px;
  }
  
  .bok{
      width: 20%;
      color: green;
      margin-left: 0;
  }
  .img1{
      border-radius: 60%;
      margin-left: 25%;
      padding-bottom: 5%;
  }
  .img2{
    border-radius: 60%;
    border:solid rgb(4, 84, 116) 1px;
    margin-left: 25%;
    padding-bottom: 5%;
    
}

  .card2{
    position: absolute;
    top:25%;
    left:55% ;
   }
.p1{
    font-size: 18.5px;
    padding-bottom:5px ;
}
.p2{
    font-size: 19px;
}

.green-bor{
  
  float: right;
  text-align: end;
  border-top-left-radius:50px ;
}
.t{
text-align: center;
}
.bokk{
  height: 19vh;
}
.box-1{
  border:   1px solid white;
  width: 25%;
  height: 10vh;
  box-sizing: border-box;
  float: left;
  
}
.box-all{
  box-sizing: border-box;
  width: 25%;
  border: oldlace 1xp solid;
}

.FAloneSection{
  font-size: 30px;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(10, 10, 10);
  box-sizing: border-box;
  border:   1px solid white;
}

.box-0{
  width: 100%;
  font-size: 30px;
  float: left;
  height: 7vh;
  margin-top: 20px;
  border:   1px solid white;
  box-sizing: border-box;
  text-align: center;
  background-color: #0a0a0a;

}
.box-all{
  width: 100%;
  padding-bottom: 5px;
}

.box-1{
  font-size: 20px;
  float: left;
  height: 30vh;
  border:   1px solid white;
  box-sizing: border-box;
  text-align: center;
  background-color: #141414;
}

.half{
  height: 90vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat:no-repeat;
  background: -webkit-linear-gradient(to right top, #0f410a, #1b5e24, #257e3f, #2b9f5e, #2cc17f, #2cc17f, #2cc17f, #2cc17f, #2b9f5e, #257e3f, #1b5e24, #0f410a);
  background: -moz-linear-gradient(to right top, #0f410a, #1b5e24, #257e3f, #2b9f5e, #2cc17f, #2cc17f, #2cc17f, #2cc17f, #2b9f5e, #257e3f, #1b5e24, #0f410a);
  background: -ms-linear-gradient(to right top, #0f410a, #1b5e24, #257e3f, #2b9f5e, #2cc17f, #2cc17f, #2cc17f, #2cc17f, #2b9f5e, #257e3f, #1b5e24, #0f410a);
  background: linear-gradient(to right top, #0f410a, #1b5e24, #257e3f, #2b9f5e, #2cc17f, #2cc17f, #2cc17f, #2cc17f, #2b9f5e, #257e3f, #1b5e24, #0f410a);
}