*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "montserrat", Helvetica Neue, Helvetica, Arial;
    line-height: 1.6;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}       

.home{
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.home nav{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 3;
    transition: 0.3s;
}


.home .mainUl{
    display: flex;
} 

.home nav li{
    display: inline-block;
    margin: 0 1rem;    
    transition: transform .2s;     
}
.home nav .a{
    color: rgba(255, 255, 255, 0.767);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin: 10px;
    justify-content: space-around;
    transition: .5s;
    display: block;
    font-stretch: expanded;
    font-weight: normal;

}
.a{
    font-size: 17px;
}
.a-down{
    font-size: 12px;
}
.home nav .logo a{
    background-image: url("../images/logo-icon.png");
    background-repeat: no-repeat;
    background-size: 160px;
    display:inline-block;
    height: 60px;
    position: relative;
    text-indent: -999999px;
    width: 200px;
    top: 5px;
    right: -5px;
}

.Mobile .logo{
    display: none;
}

/*Dropdown Menu */
.dropdown{
    float:left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 17px;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.767);
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 10px;
}

.content_dropdown{
    display: none;
    position: absolute;
    background-color: rgb(17, 190, 46);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

.content_dropdown a{
    float: none;
    color: rgba(255, 255, 255, 0.767); 
    text-decoration: none;
    display: block;
    text-align: left;
    font-stretch: expanded;
    font-weight: bold;

}
.content_dropdown a:hover{
    background-color: rgb(49, 49, 49);
}
.dropdown:hover .content_dropdown{
    display: block;
}

/*active */
.active{
    background-color: black;
}

.active_nav{
    border-bottom: 2px solid rgb(75, 201, 2);
}
/* Icons Navbar settings */

.iconsNav img{
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 35px;
    height: 35px; 
    overflow: hidden;
    transition: 0.3s;
}

/*Navbar Animations */
/* trying something new*/
nav ul li a,
nav ul li a:after,
nav ul li a:before,
nav ul button,
nav ul button:after,
nav ul button:before {
  transition: all .35s;
}
nav li:hover{
    transform: scale(1.25);     
 
}
nav a:hover{
    color: rgb(255, 255, 255);   
}

nav.navbar ul li a, nav ul button{
  position: relative;
}
nav.navbar ul li a:after,
nav ul button:after {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px;
    margin: auto;
    opacity: 1;
    width: 0%;
    content: '';
    overflow: hidden;
    color: transparent;
    background: radial-gradient( rgb(17, 190, 46), rgba(255,0,0,0));
    height: 3px;
    text-align: left;
  }
  nav.navbar ul li a:before,
  nav ul button:before{
    left: 0px;
    top: 0px;
  }
  nav.navbar a:after,
  nav ul button:after
  {
      right: 0px;
      bottom: 0px;
  }  
  nav.navbar ul li a:hover:after,
  nav ul button:hover:after {
    width: 100%;
    opacity: 100;  
}

    /*After Scrolling */
.background{
    width: 100%;
    background-color: rgb(15,15,15);
    -webkit-box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.959);      
    -moz-box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.959);  
    box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.959);        
    transition: background-color 300ms linear, box-shadow 300ms ease;
    -moz-transition: background-color 300ms linear, box-shadow 300ms ease;
    -ms-transition: background-color 300ms linear, box-shadow 300ms ease;
    -o-transition: background-color 300ms linear, box-shadow 300ms ease;
}


/* Footer */
footer {
    background:rgb(15,15,15);
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.FSection{
    display: flex;
    border-right: 2px solid rgb(68, 68, 68);
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 380px;
    flex: 1;
    flex-direction: column;
    background: rgb(15,15,15);
}
.Ftitle {
    font-size: 25px;
    color: rgb(223, 223, 223);
     
}
.FDescription{
    font-size: 17px;
    color: rgb(223, 223, 223);
    padding:0 15%;
    text-align: left;
    margin-top: 30px;
    font-weight: normal;
}
.FContacts{
    font-size: 20px;
    color: rgb(223, 223, 223);
    height: 20px;
    font-weight: normal;
    margin-top: 30px;
  
}
.Flogo{
    margin-top: 60px;
    width: 300px;   
    height: 130px;
}
.FName{ 
    font-size: 20px;
}
.Fgmail{
    color: rgb(102, 102, 102);
    font-size: 19px;
    font-weight: normal;
}
.FIcons li{
    text-decoration: none;
    display: inline-block;
    margin: 0 1rem;    
    transition: transform .2s;   
}

.FIcons img{
    border: 2px solid rgb(65, 65, 65);
    background-color: white;
    border-radius: 5px;
    width: 35px;
    height: 35px; 
    overflow: hidden;
    transition: 0.3s;
}

.FIcons li:nth-child(1) img:hover {
    background-color: #fdf497;
}
.FIcons li:nth-child(2) img:hover {
    background-color: #cd201f;
}

/* ScrollBar */

::-webkit-scrollbar {
    width: 10px;
  }
 
  ::-webkit-scrollbar-track {
    background: #141414; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(49, 209, 17); 
  }

/*Making responsive */
@media(max-width: 768px) {
    footer {
      flex-direction: column;
    }
    .FSection{
        border-bottom: 1px solid rgb(68, 68, 68);
    }
    .Flogo{
        width: 200px;   
        height: 100px;        
    }
    .FDescription, .FContacts, .Flogo{
        margin: 10px 0;
    }
}

    /* Hambuger */
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
.burger{
    display: none;
    cursor: pointer;
}
.navbar{
    height: 75px;
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
.mainUl{ 
    position: absolute;
    right: 0px;
    top: 75px;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 34, 34);
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    justify-content: space-around;
    float: none;
}
    .mainUl li{
    opacity: 0;
    }
    .mainUl .logo{
        display: none;
    }
    .Mobile .logo{
        display: block;
    }
    .burger{
        display: block;
    } 

    .Mobile{
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }   
    .home nav .logo a{
        background-size: 140px;
        width: 140px;
    }   

    .dropdown:hover .content_dropdown{
        display: block;
        position: relative;
    }
}
@media screen and (max-width:340px){
    .Mobile{
        margin: auto;
        width: 90%;
        }
    }
@media screen and (max-width:1100px){

    .home nav li{
        margin: 0;
    }
    .home nav .a{
        padding: 10px 4px;
        font-size: 15px;
    }
    .dropbtn{
        font-size: 15px;     
    }
}
@media screen and (max-width:818px){
    .home nav .a{
        padding: 10px 2px;
        font-size: 13px;
    }
    .dropdown .dropbtn{
    font-size: 13px;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
      transform: translateX(50px);
    }
  
    to {
        opacity: 1;
      transform: translateX(0px);
    }
  }

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
} 
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
.ResponsiveBackground{
    background-color: black;
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 0;
    display: none;
    transition: 0.4s ease-in;
}
.toggled{
    opacity: 0.5;
    display: flex;
}
