﻿﻿html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

#container {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    position: relative;
    border: 1px solid #00ff8a;
    overflow: hidden;
    background-color: #72bac7;
}

#score_help {
    text-align: center;
    font-size: 25px;
    background-color: #fffa15;
}

.rubish {
    position: absolute;
    width: 90px;
    height: 90px;
    text-align: center;
    background-color: #77cfb9;
    z-index: 99;
    background-size: contain;
    background-repeat: no-repeat;
}

#rubish1 {
    left: calc(20% + 8%/2 - 2%/2);
}

#rubish2 {
    left: calc(40% + 8%/2 - 2%/2);
}

#rubish3 {
    left: calc(60% + 8%/2 - 2%/2);
}


.drop {
    display: none;
    position: absolute;
    bottom: 0px;
    height: 7%;
    width: 7%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 11;
    }

#drop1 {
    left: calc(20% + 8%/2 - 7%/2);
}

#drop2 {
    left: calc(40% + 8%/2 - 7%/2);
}

#drop3 {
    left: calc(60% + 8%/2 - 7%/2);
}

#floor {
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #a1e83a;
    bottom: 0;
    z-index: 10;
}

#basket {
    height: 250px;
    width: 150px;
    position: absolute;
    bottom: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}

#score_1 {
    position: absolute;
    color: #424242;
    font-size: 30px;
    top: 45%;
    left: 30%;
}

#restart {
    border: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: firebrick;
    color: white;
    top: 40%;
    font-size: 35px;
    display: none;
    cursor: pointer;
}

.button {
    position: relative;
    left: 25%;
}

#head {
    text-align: center;
    color: #00B1D2FF;
    background-color: #FDDB27FF;
}

#start_button {
    color: #FDDB27FF;
    background-color: #00B1D2FF;
    height: 18%;
    width: 50%;
    font-size: 200%;
    position: relative;
    left: 25.2%;
}

#logo{
    position: relative;
    left: 18%;
}

#start {
    border-style: solid;
    border-color: #49E20E;
    width: 90%;
    position: relative;
    left: 5%;
}

#choice {
    border-style: solid;
    border-color: #49E20E;
    width: 90%;
    position: relative;
    left: 5%;
    margin-right: 5%;
}