﻿﻿html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

#container {
    height: 90%;
    width: 90%;
    margin-left: 5%;
    position: relative;
    border: 1px solid #00ff8a;
    overflow: hidden;
    background-color: #f6eb6d;
}

#score_help {
    text-align: center;
    font-size: 25px;
    background-color: #93e833;
}

.rubish {
    /*position: absolute;
    top: 1%;
    height: 5%;
    width: 2%;
    background-color: #77cfb9;
    border-radius: 50%;
    z-index: 99;*/

    height: 10%;
    width: 5%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 99;
}

#rubish1 {
    left: calc(20% + 8%/2 - 2%/2);
}

#rubish2 {
    left: calc(40% + 8%/2 - 2%/2);
}

#rubish3 {
    left: calc(60% + 8%/2 - 2%/2);
}

/*#rubishes_floor {
    height: 10%;
    width: 5%;
    position: absolute;
    background: url('broken_bottle.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 99;
}*/

.drop {
    display: none;
    position: absolute;
    bottom: 0px;
    height: 7%;
    width: 7%;
    background: url('broken_glass.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 11;
}

#drop1 {
    left: calc(20% + 8%/2 - 7%/2);
}

#drop2 {
    left: calc(40% + 8%/2 - 7%/2);
}

#drop3 {
    left: calc(60% + 8%/2 - 7%/2);
}

#floor {
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #045c06;
    bottom: 0;
    z-index: 10;
}

#basket {
    height: 260px;
    width: 156px;
    position: absolute;
    bottom: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}

#score_1 {
    position: absolute;
    color: #424242;
    font-size: 30px;
    top: 45%;
    left: 30%;
}

#restart {
    border: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: firebrick;
    color: white;
    top: 40%;
    font-size: 35px;
    display: none;
    cursor: pointer;
}

.button{
    position: relative;
    left: 40%;
}