body{
   margin: 0;
   padding: 0;
 }
 
.home{
  background: rgb(19,19,20);
}


.ContainerCards{
padding-top: 150px;
width: 100%;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
background: rgb(31, 31, 31);

}

.card {
  height: 500px;
  width: 300px;
  background: #3CC290;
  border-radius: 3%;
  margin:20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.BoxImage{
  width: 200px;
  height: 200px;
} 
.ImageCard{
  width: 100%;
  height: 100%;
  background-position: center;    
  background-size: cover;
  background-repeat: no-repeat;
}

.img1{
    background-image: url("../images/reciklirane/card1.png");
}
.img2{
  background-image: url("../images/reciklirane/card2.png");
}

.cardTittle{
  width: 100%;
  font-size: 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.72);
  margin: 0 auto;
  padding-bottom: 20%;
  

}

.CardDescription{
  width: 70%;
  text-align: left;
  
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  padding-bottom: 120%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.flip-card-back {
text-align: center;
transform: rotateY(180deg);
font-size: 10px;
 
}